<div class="image-block" style="background-image:url({{image}})">
	{% if body_text %}
		<div class="wrapper">
			<div class="content {{text_color}} {{image_padding}}">{{body_text}}</div>
		</div>
	{% endif %}
</div>

