<div class="image-slider-block" id="{{ ImageSlider_id }}">

	{% for item in ImageSlider_Images %}
	
		<div>
			<a href="{{item.link}}">
				<img src="{{item.Image}}" alt="">
			</a>
		</div>
		
	{% endfor %}
</div>
