<div class="block-standard {% if class %}{{class}}{% endif %}">
	<div class="wrapper{% if narrow %} narrow{% endif %}">
		<div class="grid grid--auto-c">
			{% for item in stn_block %}
				<div>{{item.body_text}}</div>
			{% endfor %}
		</div>
	</div>
</div>

