<footer class="footer" role="contentinfo">
	<div class="wrapper">
		<div class="col col-contact" itemscope itemtype="http://schema.org/Organization">
			<span class="sitename" itemprop="name">{{ site.name }}</span>
			<div class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				{{ footer.address }}
			</div>
		</div>
	</div>
</footer>