/* Forms
 ========================================================================== */


fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	border-bottom: 1px solid #eee;
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
}

label {
	display: block;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=search],
textarea {
	padding: .2rem;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 1px;

}

label + input,
label + textarea {
	margin-top: 4px;
}


/* Buttons
 ========================================================================== */
 .btn{
	padding: 16px 32px;
	display: inline-block;
	background: $color_primary;
	border:0;
	border-radius: 32px;
	color:#fff;
	font-weight: bold;
	line-height: 1.25;
	&:hover{
		background: lighten($color_primary, 10%);
	}
	&.btn--white{
		background: #fff;
		border: 1px solid $color_primary;
		color:#000;
		&:hover{
			background: darken(#fff, 10%);
		}
	}
 }

