.wrapper{
	@extend %max_w ;
}
.wrapper-m{
	@extend %max_w_m;
}
.v_center{
	@extend %v_c ;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;;
}
.main{
	img{
		width: 100%;
	}
}

.bg_color_primary{
	background-color: $color_primary;
	color:#fff;
	a{
		color:#fff;
	}
}
.bg_color_alt_1{
	background-color: $color_alt_1;
	color:#fff;
	a{
		color:#fff;
	}
}
.bg_color_alt_2{
	background-color: $color_alt_2;
}	
