/* Tables
 ========================================================================== */
table {
	width: 100%;
}

caption,
th {
	text-align: left;
}

/**
 * Basic Styling
 */
.table {
	width: 100%;
	font-size: .875rem;

	td,
	th {
		padding: 10px;
	}
}

