/* Variables
 ========================================================================== */


$color_primary: #813f90;
$color_alt_1: #000;
$color_alt_2: #eee;
$black: #000;
$white: #fff;

$max-width: 1128px;
$max-width_m: 744px;

$break-small: 320px;
$break-mid: 768px;
$break-large: 1024px;
$pad: 16px;
$block_pad:96px;
$block_pad_m: 64px;

$transition: .35s all cubic-bezier(.455,.03,.515,.955);

/* Mixin
 ========================================================================== */


%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%v_c{
  top: 50%;
  transform: translateY(-50%);
  margin:0 auto;
  position: relative;
}

%max_w {
  width: $max-width;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
    @media only screen  and (max-width :  $max-width) {
     padding: 0 $pad
    }
    @media only screen  and (max-width :  $break-mid) {
     padding: 0 $pad
    }
}
%max_w_m {
  width: $max-width_m;
  max-width: 100%;
  margin: 0 auto;
}
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin bp-large {
  @media only screen and (min-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 30em) {
    @content;
  }
}
@mixin bp-max {
  @media only screen and (min-width:$max-width) {
    @content;
  }
}
%block-pad {
  padding: $block_pad 0;
  @include bp-large{
    padding: $block_pad_m 0;
  }
}
/*
  @include bp-large{
      float: right;
      margin: 9px 0 5px 1rem;
  }
*/

