{% extends 'layouts/base.twig' %}

{% block content %}
	<section class="block ">
		<div class="wrapper">
			<h1 class="title">{{__('404 - Page not found', 'site')}}</h1>
			<p class="subtitle">{{__('The page you were trying to reach could not be found. Please make sure that the address is correct and try again.', 'site')}}</p>
		</div>
	</section>
{% endblock %}
